@import './base.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100vw;
  background-color: var(--backgroundColor);
  color: var(--color);
}
